<div class="card">
  <form class="card-body" [formGroup]="allergyForm" (ngSubmit)="onSubmit()">
    <h3 class="card-title text-uppercase">Add Allergie</h3>
    <div class="row row-cols-2 g-3">
      <div class="mb-3">
        <label for="languageNameArea" class="form-label">Allergie</label>
        <label for="languageNameArea" class="form-label text-danger">*</label>
        <ng-select
          [items]="severities"
          formControlName="severity"
          [multiple]="false"
          placeholder='Select a severity'
          [ngClass]="{
            'is-invalid': submitted && allergyForm.controls.severity.errors
          }"
        >
        </ng-select>
      </div>
      <div class="mb-3">
        <label for="levelArea" class="form-label"> Category </label>
        <label for="CategoryArea" class="form-label text-danger">*</label>
        <ng-select
          [items]="categories"
          [compareWith]="compareFn"
          bindLabel="name"
          bindValue="id"
          formControlName="categoryId"
          [multiple]="false"
          placeholder='Select a category'
          [ngClass]="{
            'is-invalid': submitted && allergyForm.controls.categoryId.errors
          }"
        >
        </ng-select>
      </div>
    </div>
    <div class="row row-cols-1 g-3">
      <div class="mb-3">
        <label for="descriptionTextArea" class="form-label"
          >Description (Optional)</label
        >
        <textarea
          formControlName="description"
          class="form-control"
          id="descriptionTextArea"
          rows="3"
          placeholder="Describe your surgery..."
        ></textarea>
      </div>
    </div>
    <ng-container *ngIf="!!allergy; else default">
      <div class="row row-cols-2">
        <div class="d-flex flex-row justify-content-start mt-4">
          <button
            type="button"
            class="btn btn-secondary me-3"
            (click)="deleteAllergy()"
          >
            <span *ngIf="!loadingDelete">Delete</span>
            <div
              class="spinner-border spinner-button text-primary"
              role="status"
              *ngIf="loadingDelete"
            ></div>
          </button>
        </div>

        <div class="d-flex flex-row justify-content-end mt-4">
          <button
            type="button"
            class="btn btn-secondary me-3"
            (click)="closeModal()"
          >
            Discard Changes
          </button>
          <button type="submit" class="btn btn-primary">
            <div class="spinner-container">
              <span *ngIf="!loading">Save</span>
              <div
                class="spinner-border spinner-button"
                role="status"
                *ngIf="loading"
              ></div>
            </div>
          </button>
        </div>
      </div>
    </ng-container>
  </form>
</div>

<ng-template #default>
  <div class="d-flex flex-row justify-content-end mt-4">
    <button type="button" class="btn btn-secondary me-3" (click)="closeModal()">
      Discard Changes
    </button>
    <button type="submit" class="btn btn-primary">
      <div class="spinner-container">
        <span *ngIf="!loading">Save</span>
        <div
          class="spinner-border spinner-button"
          role="status"
          *ngIf="loading"
        ></div>
      </div>
    </button></div
></ng-template>
