.navbar-username{
  color: $app-navbar-link;
}

.navbar-brand {
  color: $navbar-brand;
  font-size: 2rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}
.navbar {
  background-color: $navbar-bg;
  &.navbar-custom {
    padding: 0.75rem;
    .navbar-nav {
      flex-direction: row;
      padding-right: 4rem;

      .nav-link {
        padding: 0.75rem 1rem;
        color: $navbar-link-unselected;
        font-size: $font-size-base;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        text-transform: uppercase;

        &:active,
        &:focus,
        &:hover {
          color: $app-navbar-link;
        }

        &.active {
          color: $app-navbar-link;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0.25rem;
            background: $app-navbar-link;
          }
        }
      }
    }
  }
}
