<nav class="navbar navbar-custom border-top border-bottom">
  <div class="container-fluid">
    <div class="me-auto">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/logos/logo.png" alt="Logo" height="35">
      </a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-link" routerLink="/patients" routerLinkActive="active">Patients</a>
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
    </div>
    <div class="d-flex align-items-center">
      <div class="me-3 navbar-username">
        <span class="fw-bold">{{userName}}</span>
      </div>
      <img [src]="imageURL"
        class="rounded-circle" height="46" width="46" alt="Photo Profile" loading="lazy" (click)="logout()" />
    </div>
  </div>
</nav>
