@import "config/_variables";
@import "bootstrap/scss/bootstrap";

@import "custom/buttons";
@import "custom/forms";
@import "custom/navbar";

@import "components/alert";
@import "components/ng-select";
@import "components/tables";

body {
  background-color: $app-bg-color;
}

// overlays go on top of ng-modal
.cdk-overlay-container {
  z-index: 1100;
}

.spinner-button {
  margin-top: -4px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.spinner-table {
  z-index: 1;
  width: 3rem;
  height: 3rem;
  position: fixed;
  left: 45%;
  top: 60%;
}

.spinner-container {
  width: auto;
  height: 24px;
}

p.description {
  white-space: pre-line;
}

.pagination .page-link {
  margin: 0 8px;
  border-radius: 8px;
}

.bi-bold {
  -webkit-text-stroke: 1px;
}

.btn-download-hover:hover {
  fill: $primary;
}
